/* mui Datatable end */
/* table Start */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 13px;
}

table th,
table td {
  border: 1px solid #ddd;
  padding-left: 5px;
  /* text-align: left; */
}

table th {
  background-color: #f4f4f4;
  color: #333;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr:hover {
  background-color: #f1f1f1;
}


.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.table>:not(caption)>*>* {
  padding: 5px !important;
}

.table th {
  padding: 10px !important;
}

/* table End */